# Python
venv/
__pycache__/
*.pyc
*.pyo
.env
.env.production

# Django
db.sqlite3

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.dbdb.sqlite3
.env
frontend/.env
frontend/.env.local
